[run]
source = .
omit =
    */migrations/*
    */tests/*
    */venv/*
    */env/*
    manage.py
    */wsgi.py
    */asgi.py
    */settings.py
    */urls.py
    */admin.py
    conftest.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
    except ImportError:
    if settings.DEBUG
    if DEBUG

[html]
directory = tests/reports/coverage 